@import url(https://fonts.google.com/specimen/Outfit);
body{
    background-color: hsl(212, 45%, 89%);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Outfit";
}
.text{
    display:flex;
    font-family: "Outfit";
    flex-direction: column;
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    align-items: center;
}
img{
    width:50%;
    border-radius: 8px;
}
.catcher{
    font-size: 36px;
}