@import url(https://fonts.google.com/specimen/Outfit);
body{
    background-color: hsl(212, 45%, 89%);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Outfit";
}
.text{
    display:flex;
    font-family: "Outfit";
    flex-direction: column;
    background-color: white;
    width: auto;
    padding: 8px;
    
    border-radius: 8px;
    align-items: center;
}
img{
    width:300px;

    padding: 8px;
    border-radius: 16px;
    margin-bottom: 16px;
}
.catcher{
    
    font-size: 24px;
    max-width: 300px;
    text-align: center;
}
.subtext{
    margin-top: 10px;
    font-size: 16px;
    max-width: 280px;
    font-weight: lighter;
    text-align: center;
    color: gray;
    margin-bottom: 18px;
}
